* {
  box-sizing: border-box;
   font-family: 'Play', sans-serif;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
    
}

html, body {
  width: 100%;
  height: 100%;
   font-family: 'Play', sans-serif;
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;


}

body {
  background-color: white;
  display: table;
  margin: 0;
 
}

header {
  background-color: #4090ea;
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
  position: fixed;
  z-index: 1000;
  top: 0px;
  font-family: 'Play', sans-serif;
}



path{
  -webkit-transition: stroke-dashoffset 2s ease-in-out;
  transition: stroke-dashoffset 2s ease-in-out;
}

.main.dropped {
  opacity: 1;
}

#droparea {
  background-color: #ebf5fb;
  margin: 10px auto;
  width: 80%;
  padding: 30px;
  text-align: center;
  border: 2px solid #c8cfe8;
  color: black;
  border-radius: 5px;
  border-style: dashed;
  position: relative;
 top:60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: background 0.2s ease;
}
#droparea:hover {
  background-color: #deebfa;
  transition: background 0.2s ease;
          
}
#stat{

  background-color: #daa434;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    position:absolute;
    z-index: 1000;
    display: none;
    
   

}
.container {
  position: absolute;
  text-align: center;
  margin-top:0 auto;
  width:100%;
 
  
}

.container svg {
  transition: opacity 1s ease-in-out;
  position: absolute;
  max-width: 100%;
 margin: 20px;
}
.container canvas{
  transition: opacity 1s ease-in-out;
  position: absolute;
  max-width: 100%;
   margin: 20px;
}
.container img {
  transition: opacity 1s ease-in-out;
  max-width: 100%;
 margin: 20px;
 
}

#image {
  display: none;

}

#canvas {
  display: none;

}

/* styles for the resulting svg */
polyline {
  stroke:gray;
  stroke-width: 2;
  stroke-linecap: round;
  opacity: 1;
  stroke-dashoffset: 0;
  fill: none;
}

.btn {
  background: #3498db;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer {
    position: fixed;
    float:left;
    bottom:0px;
    right:0px;
    padding: 5px;
    
    z-index:1000;

}
  
  #gui{
    position: fixed;
 
    z-index: 1500;
    margin:0 auto;
    left:50%;
    top:50%;
     margin-top: -10%; /* Changes with height. */
    margin-left: -10%; /* Your width divided by 2. */

   
    
}​
  .mdl-button{
font-family: 'Play', sans-serif;

  }