html, body {
   font-family: 'Play', sans-serif;
}

.container {
 
  text-align: center;
  margin-top:-80px;
}


path{
  -webkit-transition: stroke-dashoffset 2s ease-in-out;
  transition: stroke-dashoffset 2s ease-in-out;
}

.main.dropped {
  opacity: 1;
}

#droparea {
  background-color: #ebf5fb;
  margin: 50px auto;
  width: 50%;
  padding: 30px;
  text-align: center;
  border: 3px solid #c8cfe8;
  color: black;
  border-radius: 5px;
  border-style: dashed;

 top:150px;;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#stat{

     background-color: #d2b526;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    z-index: 1000;
    display: none;

}


.container svg {
  transition: opacity 1s ease-in-out;
  position: absolute;
   margin: 20px;

}
.container canvas{
  transition: opacity 1s ease-in-out;
  position: absolute;
  max-width: 100%;
   margin: 20px;
  border: 2px solid green;
}
.container img {
  transition: opacity 1s ease-in-out;
  max-width: 100%;
 margin: 20px;
 
}

#image {
  display: none;

}

#canvas {
  display: none;

}

/* styles for the resulting svg */
polyline {
  stroke:gray;
  stroke-width: 2;
  stroke-linecap: round;
  opacity: 1;
  stroke-dashoffset: 0;
  fill: none;
}

.footer {
    position: fixed;
    bottom: 0px;;
    right: 10px;

    z-index: 0;
}
  #gui { position: absolute; margin:0 auto }
 